body{
    font-family: sans-serif;
}

.content, .content > * {box-sizing:border-box;}
.content:after {display:block; content:''; clear: both;}
.personal {float:left; width:40%; padding:40px; background-color:#f3f2f2;}
.resume {float:right; width:60%; padding:40px 40px 40px 20px;}

.personal .photo {height:200px; text-align:center;}
.personal .photo img {width:auto; height:100%;}

.nameArea strong {
    font-size: 50px;
}
.nameArea strong:hover {
    font-size: 70px;
    color: rgb(255, 255, 255);
    background: rgb(204, 44, 156);
}

.cont .titArea {position: relative; overflow: hidden;}
.cont .titArea:after {display: block; content: ''; clear: both;}
.titArea .tit {position: relative;}
.titArea .tit:after {content: ''; display: inline-block; position: absolute;; top:50%; width:100%; height:4px; margin-left:20px; background-color:#ffa99c;}

.yearList li {position: relative; overflow: hidden;}
.yearList li:after {display: block; content: ''; clear: both;}
.yearList li + li {padding-top:20px;}
.yearList li > div {float:left; position: relative;}
.yearList li .year {width:150px; padding-top:20px; text-align: center;}
.yearList li .desc {width:calc(100% - 150px);}
.yearList li::before {content:''; position:absolute; top:0; left:75px; width:2px; height:20px; background-color:#ffa99c;}
.yearList li::after {content:''; position:absolute; top:45px; bottom:0; left:75px; width:2px; background-color:#ffa99c;}
.yearList li + li::before {height:40px;}
.yearList li + li::after {top:65px;}

.desc span {
    display: block;
}

.icoList li::before {content: ''; display:inline-block; width:40px; height:40px; background-image:url(../images/ico_tel.png); background-repeat:no-repeat; background-size:34px 40px; background-position:0 0;}
@media (max-width:1000px) and (orientation: portrait){
    .personal, .resume {float:none; width:100%;}
}

.icoList .email::before {content: ''; display:inline-block; width:40px; height:40px; background-image:url(../images/ico_mail.png); background-repeat:no-repeat; background-size:34px 40px; background-position:0 0;}
@media (max-width:1000px) and (orientation: portrait){.personal, .resume {float:none; width:100%;}
}
.icoList .email::before {content: ''; display:inline-block; width:40px; height:40px; background-image:url(../images/ico_mail.png); background-repeat:no-repeat; background-size:34px 40px; background-position:0 0;}
@media (max-width:1000px) and (orientation: portrait){.personal, .resume {float:none; width:100%;}
}
.icoList .address::before {content: ''; display:inline-block; width:40px; height:40px; background-image:url(../images/ico_address.png); background-repeat:no-repeat; background-size:34px 40px; background-position:0 0;}
@media (max-width:1000px) and (orientation: portrait){.personal, .resume {float:none; width:100%;}
}
.cont ul li {
    font-size: 20px;
}