body {width: 100%; background: rgb(241, 241, 241);}


.top {margin-bottom: 12px; background: #ffffff;}
.top .header {width: 100%; height: 2.10711%; background: #ffffff;}
.top .selected {width: 100%; height: 4.91659%; padding: 20px 0; font-weight: bolder;}
.top .selected:before {content: url('../../images/work/sel.png'); margin-right: 30px; padding: 10px 0;}
.top .title {width: 100%; height: 3.51185%; padding: 8px 0; background: linear-gradient(to right, rgb(0, 171, 107), rgb(0, 158, 171)); text-align: center; font-size: 11px; color: #ffffff;}
.top .main {width: 100%; height:17.5593%; margin: auto; padding: 10px 0; background: rgb(248, 248, 236); text-align: center;}
.top .main span {margin-left: 230px; padding: 1px 7px; border: 1px solid rgb(188, 188, 188); border-radius: 1cm; background: rgb(188, 188, 188); font-size: 10px; color: #ffffff;}
.top .main h2 {margin-left: 20px; font-size: 17px; color: rgb(5, 170, 145);}
.top .main p {margin-left: 20px; font-size: 10px;}
.top .main button {margin: 10px 0 30px 20px; padding: 5px 10px; border: 1px solid rgb(5, 170, 145); background: rgb(5, 170, 145); font-size: 10px; color: #ffffff;}
.top .notice {margin-bottom: 10px; padding: 10px 5px; background: #ffffff; text-align: center; font-size: 10px; font-weight: bolder; color: rgb(163, 163, 163);}
.top .notice:before {content: url('../../images/work/bell.png'); margin-right: 5px;}


.center {margin-bottom: 12px; padding: 10px 5px; background: #ffffff; text-align: center;}
.center .water span  {display: inline-block; text-align: center;}
.center .water span .box_1 {float: left;}
.center .water span .box_1 h2 {margin-right: 30px; font-size: 10px; color: rgb(214, 214, 214);}
.center .water span .box_1 p {margin-top: -5px; font-weight: bolder; font-size: 13px;}
.center .water span .box_2 {float: left;}
.center .water span .box_2 h2 {margin-right: 30px;  font-size: 10px; color: rgb(214, 214, 214);}
.center .water span .box_2 p {margin-top: -5px;  font-weight: bolder; font-size: 13px;}
.center .water span .box_3 {float: left;}
.center .water span  .box_3 h2 {font-size: 10px; color: rgb(214, 214, 214);}
.center .water span  .box_3 p {margin-top: -5px; font-weight: bolder; font-size: 13px;}
.center img {margin-bottom: 20px;}
.center .button .btn_1 {margin-bottom: 7px; padding: 10px 75px; border: 1px solid rgb(0, 158, 171); background: rgb(0, 158, 171); font-size: 10px; color: #ffffff;}
.center .button .btn_1:before {content: url('../../images/work/cal.png'); margin-right: 10px; margin-left: -90px;}
.center .button .btn_1:after {content: url('../../images/work/up1.png'); margin-right: -80px; margin-left: 80px;}
.center .button .btn_2 {padding: 10px 75px; border: 1px solid rgb(0, 171, 107); background: rgb(0, 171, 107); font-size: 10px; color: #ffffff;}
.center .button .btn_2:before {content: url('../../images/work/car.png'); margin-right: 10px; margin-left: -90px;}
.center .button .btn_2:after {content: url('../../images/work/up2.png'); margin-right: -80px; margin-left: 80px;}


.bottom {margin-bottom: 20px; padding: 10px 5px; background: #ffffff; text-align: center;}
.bottom span {display: inline-block; text-align: center;}
.bottom span .box_4 {float: left; margin-right: 70px; font-size: 10px;}
.bottom span .box_5 {float: left; margin-right: 60px; font-size: 10px;}
.bottom span .box_6 {float: left; font-size: 10px;}


.footer {text-align: center; background: rgb(241, 241, 241);}
.footer .btn_3 {margin-left: 10px; border: 1px solid rgb(214, 214, 214); background: #ffffff; font-size: 10px; color: rgb(214, 214, 214);}
.footer .btn_4 {border: 1px solid rgb(214, 214, 214); background: #ffffff; font-size: 10px; color: rgb(214, 214, 214);}
.footer .btn_5 {border: 1px solid rgb(214, 214, 214); background: #ffffff; font-size: 10px; color: rgb(214, 214, 214);}
.footer .btn_6 {border: 1px solid rgb(214, 214, 214); background: #ffffff; font-size: 10px; color: rgb(214, 214, 214);}
.footer h2 {font-size: 12px;}
.footer h2:after {content: url('../../images/work/up3.png'); margin-left: 10px;}
.footer .p .p_1 {margin-bottom: 10px; font-size: 10px; color: rgb(163, 163, 163);}
.footer .p .p_2 {margin-bottom: 10px; font-size: 10px; color: rgb(163, 163, 163);}
.footer .p .p_2 span {font-weight: bolder;}
.footer .p .p_3 {margin-bottom: 10px; font-size: 10px; color: rgb(163, 163, 163);}
.footer .p .p_4 {font-size: 5px; color: rgb(163, 163, 163);}