body {font-family: '나눔고딕', 'NanumGothic', 'serif';}


.inner {width: 1170px; min-width: 1170px; max-width: 1170px; margin: 0 auto;}
.clearfix::after {content: ""; display: block; clear: both;}


.section1 {background-image: url('public/imagess/work/bg1.png'); background-repeat: no-repeat;}
.section1 .inner .header {padding: 50px 0; letter-spacing: .1mm; font-weight: bolder; color: rgb(1, 0, 75);}
.section1 .inner .header .container .left {float: left;}
.section1 .inner .header .container .left .logo {margin-top: -10px; font-size: 30px;}
.section1 .inner .header .container .left .logo img {width: 50px; margin-right: 5px;}
.section1 .inner .header .container .right {text-align: right;}
.section1 .inner .header .container .right nav ul li {display: inline; list-style: none;}
.section1 .inner .header .container .right nav ul li a {margin-right: 40px; font-size: 18px; color: rgb(1, 0, 75);}
.section1 .inner .header .container .right nav ul li button {padding: 18px 30px; border: 1px solid #ffffff; background: #ffffff; letter-spacing: .1mm; font-size: 18px; font-weight: bold; color: rgb(4, 2, 85);}
.section1 .inner section article {margin-top: 100px; font-size: 25px; font-weight: bolder; color: rgb(206, 75, 179);}
.section1 .inner section article h2 {margin-top: -1px; font-size: 85px; color: rgb(1, 0, 75);}
.section1 .inner section article h6 {margin-top: -40px; font-size: 18px; color: rgb(1, 0, 75);}
.section1 .inner section span {display: inline-block; margin-bottom: 100px; padding: 10px; color: rgb(160, 148, 152);}
.section1 .inner section span button {padding: 15px 30px; border: 1px solid #ffffff; background: #ffffff; letter-spacing: .1mm; font-size: 18px; font-weight: bold; color: rgb(4, 2, 85);}
.section1 .inner section span .ico1 a {text-decoration: none; color: rgb(166, 154, 158);}
.section1 .inner section span .ico2 a {text-decoration: none; color: rgb(166, 154, 158);}


.section2 {background: rgb(250, 249, 249);}
.section2 .inner .theme {padding: 50px; font-size: 15px;}
.section2 .inner .theme .theme_left {float: left; margin-right: 90px; font-weight: bolder; color: rgb(206, 75, 179);}
.section2 .inner .theme .theme_left h2 {margin-top: -5px; font-size: 50px; color: rgb(1, 0, 75);}
.section2 .inner .theme .theme_right {color: rgb(126, 123, 140);}
.section2 .inner .theme .theme_right p {font-size: 18px;}
.section2 .inner .theme .theme_right h6 {margin-top: -10px; font-size: 18px;}
.section2 .inner .theme .theme_right h6 span {color: rgb(1, 0, 75); font-size: 18px;}
.section2 .inner {text-align: left;}
.section2 .inner .box1 {margin-bottom: 50px;}
.section2 .inner .box1 .pink {float: left; width: 25%; margin-right: 40px; padding: 30px; background: #ffffff;}
.section2 .inner .box1 .pink article h2 {color: rgb(1, 0, 75);}
.section2 .inner .box1 .pink,.yellow,.sky article p {color: rgb(126, 123, 140);}
.section2 .inner .box1 .pink article:before {content: url("public/imagess/work/pink.png")}
.section2 .inner .box1 .pink article span a {text-decoration: none; color: rgb(207, 72, 175);}
.section2 .inner .box1 .yellow {float: left; width: 25%; margin-right: 40px; padding: 30px;}
.section2 .inner .box1 .yellow article h2 {color: rgb(1, 0, 75);}
.section2 .inner .box1 .yellow article:before {content: url("public/imagess/work/yellow.png")}
.section2 .inner .box1 .yellow article span a {text-decoration: none; color: rgb(255, 149, 1);}
.section2 .inner .box1 .sky {float: left; width: 25%; padding: 30px; background: #ffffff;}
.section2 .inner .box1 .sky article h2 {color: rgb(1, 0, 75);}
.section2 .inner .box1 .sky article:before {content: url("public/imagess/work/sky.png")}
.section2 .inner .box1 .sky article span a {text-decoration: none; color: rgb(2, 121, 241);}
.section2 .inner .box2 {margin-bottom: 100px;}
.section2 .inner .box2 .blue{float: left; width: 24%; margin-right: 40px; padding: 30px;}
.section2 .inner .box2 .blue, article h2 {color: rgb(1, 0, 75);}
.section2 .inner .box2 .blue,.green,.purple article p {color: rgb(126, 123, 140);}
.section2 .inner .box2 .blue article:before {content: url("public/imagess/work/blue.png")}
.section2 .inner .box2 .blue article span a {text-decoration: none; color: rgb(73, 120, 202);}
.section2 .inner .box2 .green{float: left; width: 24%; margin-right: 40px; padding: 30px; background: #ffffff;}
.section2 .inner .box2 .green article h2 {color: rgb(1, 0, 75);}
.section2 .inner .box2 .green article:before {content: url("public/imagess/work/green.png")}
.section2 .inner .box2 .green article span a {text-decoration: none;color: rgb(128, 207, 116);}
.section2 .inner .box2 .purple{float: left; width: 24%; margin-right: 40px; padding: 30px;}
.section2 .inner .box2 .purple article h2 {color: rgb(1, 0, 75);}
.section2 .inner .box2 .purple article:before {content: url("public/imagess/work/purple.png")}
.section2 .inner .box2 .purple article span a {text-decoration: none; color: rgb(117, 88, 255);}


.section3 {padding: 100px; background-image: url('public/imagess/work/bg2.png'); background-repeat: no-repeat;}
.section3 .inner .color_box {float: left; width: 500px; height: 650px; margin-right: 50px; background: rgb(1, 71, 105);}
.section3 .inner .content {padding: 70px; font-weight: bolder; color: rgb(207, 72, 175);}
.section3 .inner .content h2 {margin-top: -.5px; font-size: 50px; color: rgb(1, 0, 75);}
.section3 .inner .content p {margin-bottom: 40px; letter-spacing: .1mm; color: rgb(126, 123, 140);}
.section3 .inner .content .year {float: left; margin-right: 100px; color: rgb(1, 0, 75);}
.section3 .inner .content .year p {margin-top: -1px; font-size: 40px; color: rgb(207, 72, 175);}
.section3 .inner .content .month {color: rgb(1, 0, 75);}
.section3 .inner .content .month p {margin-top: -1px; font-size: 40px; color: rgb(207, 72, 175);}
.section3 .inner .content button {padding: 20px 30px; border: 2px solid rgb(207, 72, 175); background: transparent; font-size: 20px; font-weight: bold; color: rgb(207, 72, 175);}


.section4 {text-align: center;}
.section4 .inner .title {margin: 50px 0; font-weight: bolder; color: rgb(207, 72, 175);}
.section4 .inner .title h2 {margin-top: -1px; font-size: 50px; color: rgb(1, 0, 75);}
.section4 .inner .soda {float: left; margin-right: 50px; text-align: left;}
.section4 .inner .soda .soda_box {width: 550px; height: 350px; background: rgb(234, 246, 255)}
.section4 .inner .soda h2 {color: rgb(1, 0, 75);}
.section4 .inner .soda h3 {color: rgb(126, 123, 140);}
.section4 .inner .candy {float: left; text-align: left;}
.section4 .inner .candy .candy_box {width: 550px; height: 350px; background: rgb(255, 247, 246);}
.section4 .inner .candy h2 {color: rgb(1, 0, 75);}
.section4 .inner .candy h3 {color: rgb(126, 123, 140);}
.section4 .inner .pastel {display: inline-block; width: 1200px; margin-top: 70px; margin-bottom: 50px; padding: 10px 50px; background-image: url('public/imagess/work/bg3.png'); background-repeat: no-repeat; text-align: left;}
.section4 .inner .pastel h2 {font-size: 50px; color: rgb(1, 0, 75);}
.section4 .inner .pastel h3 {margin-top: -20px; margin-bottom: 20px; font-size: 15px; color: rgb(207, 72, 175);}
.section4 .inner .pastel p {line-height: 9mm; font-size: 17px; color: rgb(126, 123, 140);}


.section5 {width: 100%; height: 800px; background-image: url('public/imagess/work/background4.png'); background-repeat: no-repeat;}


.section6 {padding-bottom: 30px; background: rgb(250, 249, 249);}
.section6 .inner .top {padding-top: 50px; font-size: 20px; font-weight: bold; color: rgb(207, 72, 175);}
.section6 .inner .top h2 {margin-top: -10px; font-size: 60px; color: rgb(1, 0, 75);}
.section6 .inner .top .arrow {margin-left: 1000px;}
.section6 .inner .center .center_left {float: left; width: 500px; margin-right: 100px;}
.section6 .inner .center .center_left img {float: left; height: 230px; margin-right: 20px;}
.section6 .inner .center .center_left h2 {float: left; color: rgb(1, 0, 75);}
.section6 .inner .center .center_left h3 {color: rgb(207, 72, 175);}
.section6 .inner .center .center_left p {color: rgb(126, 123, 140);}
.section6 .inner .center .center_right img {float: left; height: 230px; margin-right: 20px;}
.section6 .inner .center .center_right h2 {color: rgb(1, 0, 75);}
.section6 .inner .center .center_right h3 {color: rgb(207, 72, 175);}
.section6 .inner .center .center_right p {color: rgb(126, 123, 140);}
.section6 .inner .bottom {margin: 100px 0;}


.section7 {padding: 100px 0;}
.section7 .inner .head {text-align: center; font-weight: bolder; color: rgb(207, 72, 175);}
.section7 .inner .head h2 {margin-top: -5px; font-size: 50px; color: rgb(1, 0, 75);}
.section7 .inner .body p {float: left; margin-right: 50px; margin-left: 20px; font-size: 25px; font-weight: bolder; color: rgb(1, 0,. 75);}


.section8 {padding: 150px 0; background: rgb(247, 247, 247); color: rgb(126, 123, 140);}
.section8 .inner form {float: left; width: 500px; margin-right: 30px; background: #ffffff; line-height: 2cm; color: rgb(126, 123, 140);}
.section8 .inner form input {width: 100%; border: 1px solid rgb(126, 123, 140);}
.section8 .inner form button {margin-top: 40px; padding: 10px 30px; border: 2px solid  rgb(207, 72, 175); background: transparent; font-size: 20px; font-weight: bolder; color: rgb(207, 72, 175);}
.section8 .inner .info {padding: 70px; font-weight: bolder; color: rgb(207, 72, 175);}
.section8 .inner .info h2 {margin-top: -5px; font-size: 50px; color: rgb(1, 0, 75);}
.section8 .inner .info .sub {font-size: 25px; font-weight: bolder; color: rgb(1, 0, 75);}
.section8 .inner .info .sub span {display: block;margin-bottom: 50px; line-height: -1ch; font-size: 15px; color: rgb(126, 123, 140);}


.section9 {padding: 100px 0;}
.section9 .inner .p1 {float: left; margin: 0 90px 70px 20px; font-size: 30px; font-weight: bolder; color: rgb(1, 0, 75);}
.section9 .inner .p1 h2 {font-size: 15px; color: rgb(126, 123, 140);}
.section9 .inner .p2 {float: left; font-size: 30px; font-weight: bolder; color: rgb(1, 0, 75);}
.section9 .inner .p2 h2 {font-size: 15px; color: rgb(126, 123, 140);}
.section9 .inner .p3 {color: rgb(1, 0, 75);}
.section9 .inner .p3 .up {text-align: center; font-size: 50px; font-weight: bolder;}
.section9 .inner .p3 .up p {font-size: 15px; color: rgb(126, 123, 140);}
.section9 .inner .p3 .down {margin-top: 30px; margin-left: 550px;}
.section9 .inner .p3 .down button {border: 1px solid #f7f7f7; background: transparent; font-size: 20px; color: rgb(1, 0, 75);}
.section9 .inner .p3 .down button img {margin-left: 320px; padding: 10px;}


.sectionX {padding: 50px 0; color: rgb(126, 123, 140);}
.sectionX .inner {}
.sectionX .inner .footer {}
.sectionX .inner .footer .left {float: left;}
.sectionX .inner .footer .right span {float: right; margin-right: 20px; text-align: right;}
