body {width: 100%;}

.bar {height: 44px; text-align: center; font-size: 18px; font-weight: bold;}
.bar a {float: left; width: 17px; height: 17px;}
.bar a img {width: 100%;}

.section .title {height: 13px; margin-top: 24px; text-align: left; font-size: 14px; color: #666666;}
.section p {height: 40px; margin-top: 39px; text-align: left; font-size: 18px;}
.section p span {font-weight: bold;}

.btn {margin-top: 20px;}
.btn .hn,.mall,.gy,.wr,.bc,.mj {width: 49%; height: 80px; border-radius: 2px; border: solid 1px #e6e6e6; background: #ffffff; text-align: left; font-size: 14px; color: #666666;}
.active{
    background: #222;
    color: #fff;
}
.active:after {content: ""; display: inline-block; float: right; background-image: url('public/imagess/work/check@2x.png'); background-size: 14px 14px; width: 14px; height: 14px; margin-right: 12px;}
.check {width: 100%; height: 44px; margin-top: 118px; border-radius: 2px; background-color: #222222; text-align: center; font-size: 15px; font-weight: bold; color: #ffffff;}
